
<div class="section">
  <h2 class="title">{{ title }}</h2>
  <div class="content">
    {% for section in sections %}
      <div class="content-section">
        <div class="content-title">
          <span class="job-title">{{ section.title }}</span>
          <p class="company">{{ section.company }}{% if section.company %},{% endif %}
            {{ section.location }}
            {% if section.location and section.dates %} / {% endif %}
            {{ section.dates }}</p>
        </div>
        <ul class="content-list">
          {% for text in section.list %}
            <li>{{ text }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </div>
</div>